.contact{
    width:100vw;
    height:auto;
    opacity:0.7;
    background-image: no-repeat;
    background-position: center;
    background-size:cover;
}
div h1{
    font-size:50px;
    padding-top:150px;
    
}
.contact p{
    text-transform:uppercase;
    font-size:15px;
    line-height:50px;
    padding-bottom:40px;
    
}
form{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width:100%;

    
        
}
form label{
    padding-right:250px;
    font-size:18px;
    padding-top:10px;
}
input{
    height:50px;
    background-color:transparent;
    border:3px solid #fff;
    width:700px;
    margin-left:180px;
    margin-top:10px;
}
.label{
    padding-right:350px;
}
textarea{
    height:250px;
    width:700px;
    margin-left:180px;
    background-color:transparent;
    border:3px solid #fff;
    margin-top:10px;
}
.text{
    padding-right:280px;
}
button{
    margin-top:30px;
    margin-right:200px;
    height:50px;
    width:200px;
    font-size:20px;
    margin-bottom:30px;
    background-color:rgb(25, 107, 107);
    border:none;
    color:#fff;
}

