.expert{
    width:100vw;
    height: auto;
    text-align:center;
    padding-top:50px;
}
.expert h1{
    font-size: 45px;
    color:rgb(38, 176, 222);
    padding-bottom:50px;    
}
.expert .four-divs{
    display:flex;
    justify-content: center;
}
.expert .divs{
    border:1px solid grey;
    margin:20px;
    width:700px;
}