*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar{
    width:100Vw;
    height:100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     display:flex;
     flex-direction:row;
     justify-content: space-around;
     align-items: center;
     position:fixed;
     top:0;
     bottom:100%;
     background-color:#fff;
     z-index:1;
   

}
.navbar .logo{
    height:50px;
    width: 130px;
    background-image: no-repeat;
    background-position: center;
    background-size:cover;

}
.navbar .link a{
    padding:20px;
    text-decoration:none;
    color:#000;
    text-transform:uppercase;
    font-weight:bold;
    font-size:18px;

}
.navbar .link a:hover{
    text-decoration: underline;
    color:rgb(136, 245, 245);
}
